<div id="top" class="row g-3">
    <div class="col-sm-3">
        <div class="bg-dark text-white rounded p-3">
            <div><p class="fs-5">Total Customer</p></div>
            <div ><p id="totalcus" class="fs-1">Loading</p></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="bg-dark text-white rounded p-3">
            <div><p class="fs-5">New Customer</p></div>
            <div><p id="newcus" class="fs-1">Loading</p></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="bg-dark text-white rounded p-3">
            <div><p class="fs-5">Churn Customer</p></div>
            <div><p id="churncus" class="fs-1">Loading</p></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="bg-dark text-white rounded p-3">
            <div><p class="fs-5">Duration</p></div>
            <div><p id="avgdur" class="fs-1">Loading</p></div>
        </div>
    </div>
</div>